# Ignorar arquivos do Poetry
.poetry/
.poetry-virtualenvs/

# Ignorar ambientes virtuais
venv/
.env/
.env

# Ignorar arquivos de compilação
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Ignorar caches do Python
*.tox/
*.nox/
*.coverage
*.hypothesis/
.coverage/

# Ignorar arquivos temporários de editor
*~ 
*.swp
*.swo
.idea/
.vscode/

# Ignorar arquivos de log
*.log

# Ignorar diretórios e arquiv
